@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  @apply flex justify-center items-center;
}

.textCode {
  font-family: "M PLUS 1 Code", system-ui;
}

.inputText {
  font-family: "Roboto Mono", system-ui;
}

*::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #8C8C8C;
  border-radius: 10px;
}

/* Header ocupa largura total */
.gallery-header {
  @apply flex justify-between items-center mx-48 p-4 mt-16 bg-[#F3F3F3] rounded-xl;
}


/* Fotos padronizadas */
.photo-grid {
  @apply grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 mx-48 mt-4 mb-8 p-8 bg-[#F3F3F3] rounded-xl;
}

.photo-card {
  @apply relative flex flex-col items-center justify-center border border-gray-300 rounded-lg overflow-hidden cursor-pointer;
}

.photo {
  @apply w-full h-48 object-cover transition-transform duration-200 ease-in-out;
}

.photo:hover {
  @apply scale-105;
}

.photo-card input {
  @apply absolute top-2 right-2;
}

/* Modal de Tela Cheia */
.full-screen-modal {
  @apply fixed top-0 left-0 w-screen h-screen bg-black bg-opacity-80 flex items-center justify-center z-[1000];
}

.full-screen-content {
  @apply relative flex flex-col items-center justify-center;
}

.full-screen-image {
  @apply max-w-[90%] max-h-[80%] rounded-lg;
}

.close-button {
  @apply absolute top-4 right-4 text-white text-3xl cursor-pointer;
}

/* Navegação da Modal */
.navigation {
  @apply absolute top-1/2 w-full flex justify-between transform -translate-y-1/2;
}

.navigation button {
  @apply bg-white bg-opacity-80 border-none px-4 py-2 cursor-pointer rounded-md text-base;
}

.navigation button:first-child {
  @apply absolute left-4;
}

.navigation button:last-child {
  @apply absolute right-4;
}

.preview-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 10px;
  height: 250px; /* Altura fixa */
  overflow-y: auto; /* Rolagem apenas na área */
  border-radius: 8px; /* Bordas arredondadas */
}

.preview-grid img {
  object-fit: cover;
  width: 100%;
  height: 100px; /* Define uma altura fixa para as imagens */
  border-radius: 4px; /* Bordas arredondadas para as imagens */
}

.preview-grid::-webkit-scrollbar {
  width: 2px !important; /* Largura do scroll */
}

.preview-grid::-webkit-scrollbar-thumb {
  background-color: #555; /* Cor do scroll */
  border-radius: 4px;
}

.preview-grid::-webkit-scrollbar-track {
  background-color: #222; /* Cor do fundo do scroll */
}

/* Ajustes para garantir que o botão de salvar não sobreponha */
.new-photoshoot {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between; /* Garante que o botão vai para o rodapé */
}

.new-photoshoot > .flex-1 {
  flex-grow: 1;
  overflow-y: auto; /* Rolagem para o conteúdo */
}

.new-photoshoot > .flex-1 > .mt-4 {
  padding-bottom: 80px; /* Ajuste para não sobrepor com o botão */
}


.logo-preview img {
  max-width: 150px;  /* Limita a largura máxima a 150px */
  width: 100%;       /* Ajusta para ocupar até 150px de largura */
  height: auto;      /* Mantém a proporção da imagem */
}