@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textCode {
  font-family: "M PLUS 1 Code", system-ui;
}

.inputText {
  font-family: "Roboto Mono", system-ui;
}

*::-webkit-scrollbar {
  width: 7px;
  background: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #8C8C8C;
  border-radius: 10px;
}